.container{
    margin-left: 50px;
}
.con-title{
    display: flex;
    flex-direction: row;
}
.title{
    margin-left: 50px;
}
h1, h3{
    font-weight: bold;
}
.deadline{
    color: #B8B0B0;
}
.con-ketentuan{
    display: flex;
    flex-direction: row;
}
.ket{
    display: flex;
    flex-direction: row;
    
}
a{
    text-decoration: none;
}
.btn-detail{
    background-color: #687EFF;
    width: 1000px;
}
.btn-detail:hover{
    background-color: #7CA1FF;
}