.btn{
    width: 350px;
    background-color: #687EFF;
    margin-top: 30px;
}
.input-login{
    width: 350px;
    background-color: #D9D9D9;
}
.f-label-first{
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: #687EFF;
}
.btn:hover{
    background-color: #7CA1FF;
}